.FormLabel {
  display: block;
  margin-bottom: 4rem;
  font-weight: var(--font-weight-bold);
  position: relative;
  display: flex;
}

.HelpIcon {
  margin-left: 1ch;
  margin-top: 2rem;
}

.Required {
  transform: translate(0.2ch, -0.8ch);
}
