.MarkdownInput {
  display: flex;
  position: relative;
  overflow: hidden;
  min-height: 30rem;
}

.EditButton {
  position: absolute;
  top: 12rem;
  right: 12rem;
}

.BottomButton {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(0deg, #fff 10%, #fff0 100%);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-weight: var(--font-weight-bold);
  padding-bottom: 4rem;
  height: 18rem;
}

.MarkdownInput:hover .BottomButton {
  transition: var(--transition-short);
}

.BottomButtonText {
  opacity: 0;
  background-color: #fff;
  font-size: 12rem;
  border-radius: 12rem;
  box-shadow: 0 0 4rem rgba(0, 0, 0, 0.17);
  padding: 2rem 12rem;
}

.MarkdownInput:hover .BottomButtonText {
  opacity: 1;
  transition: var(--transition-short);
}

.BottomButton:hover {
  cursor: pointer;
}

.BottomButton:hover .BottomButtonText {
  opacity: 1;
}
