.ListField {
  position: relative;
  background-color: #fff;
}

.ListFieldInput {
  position: relative;
}

.ListFieldValues {
  border: 1px solid var(--border-color);
  border-radius: 4rem;
}

.ListFieldValue {
  padding: 0 12rem;
  min-height: 36rem;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  font-size: 14rem;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ListFieldValue:last-child {
  border-bottom: none;
}

.RemovableListFieldValue {
  padding-right: 32rem;
}

.ListFieldRemoveValue {
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0 8rem;
  width: 32rem;
  display: flex;
  align-items: flex-start;
  padding-top: 12rem;
}
.ListFieldRemoveValue:hover {
  opacity: 0.5;
  cursor: pointer;
}
.ListFieldRemoveValue svg {
  width: 14rem;
  height: 14rem;
  fill: var(--text-color);
}

.Editor {
  margin-top: 18rem;
}

.Editor:first-child {
  margin-top: 0;
}

.AddButton {
  display: flex;
  justify-content: flex-end;
  margin-top: 8rem;
}
