.Container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1 1 auto;
}

.Select {
  height: 36rem;
  border: 1px solid var(--border-color);
  border-radius: 4rem;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.27);
  margin: 1rem;
  overflow: hidden;
  padding: 0 12rem;
  appearance: none;
  transition: var(--transition-short);
}

.Select:focus {
  outline: none;
  border: 1px solid var(--accent-color-blue);
  transition: var(--transition-short);
}

.NoBorders {
  background-color: transparent;
}

.NoBorders .Select {
  height: unset;
  border: none;
  box-shadow: none;
  padding: 0;
  background-color: transparent;
}

.NoBorders .Arrow {
  display: none;
}

.NoBorders:hover {
  cursor: pointer;
  opacity: 0.5;
}

.DisabledSelect {
  opacity: 1;
  color: #aaa;
}

.Placeholder {
  opacity: 0.5;
  font-size: 14rem;
  color: var(--text-color);
  line-height: 1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  padding: 0 12rem;
  pointer-events: none;
}

.Arrow {
  position: absolute;
  right: 8rem;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  pointer-events: none;
}

.Arrow svg {
  width: 24rem;
  height: 24rem;
  fill: var(--text-color);
}

.DisabledArrow svg {
  fill: #aaa;
}
