.Page {
  background-color: #fff;
  min-height: 100vh;
}

.Toolbar {
  display: flex;
  padding: 12rem;
  background-color: #f5f5f5;
}

.ToolbarButton {
  margin-right: 12rem;
}

.ToolbarActionButton {
  margin-left: auto;
}
