.SaveToExistingCollection {
  height: 500rem;
  padding: 10rem 12rem 10rem 12rem;
  display: flex;
  flex-direction: column;
}

.SaveToExistingCollectionButtonWrapper {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 12rem;
}

.Collections {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  flex-grow: 1;
  padding-left: 12rem;
  padding-top: 6rem;
  justify-content: space-between;
}

.Collections > span {
  width: 100%;
  display: block;
}

.Collection {
  display: block;
  padding: 4rem 6rem;
}

.Inactive {
  padding: 2rem 5rem;
}

.Active {
  background-color: var(--accent-color-blue);
  color: #fff;
  border-radius: 4rem;
}
