.SessionTargetInput {
  display: flex;
  flex-direction: column;
  gap: 32rem;
  padding: 24rem 12rem;
  position: relative;
}

.TargetIndex {
  position: absolute;
  top: 4rem;
  left: 12rem;
  font-weight: var(--font-weight-bold);
  opacity: 0.6;
  font-size: 14rem;
}
