.NavigationTree {
  background-color: #fff;
  height: 100%;
  font-size: 14rem;
  display: flex;
  flex-direction: column;
}

.Node {
  padding: 8rem 12rem 8rem 18rem;
  background-color: #fff;
  position: relative;
  animation: fade-in 0.2s ease-in-out;
}

.Node:hover {
  background-color: var(--surface-color);
  cursor: pointer;
}

.NodeContent {
  line-height: 1;
  display: flex;
  align-items: center;
}

.NodeTextContent {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 0.4ch;
  padding-right: 12rem;
}

.NodeLink {
  color: inherit;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  padding-right: 5ch;
}
.NodeLink:hover {
  opacity: 1;
}

.NodeLinkActive {
  background-color: var(--surface-color);
  z-index: 1;
}

.NodeLinkText {
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 0.6ch;

  padding-bottom: 1px; /* Otherwise some letters like "g" aren't fully visible. */
  padding-top: 1px;
}

.NodeIcon {
  position: relative;
  z-index: 10;
  left: -6ch;
}

.CopyResourceFqnButton {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  padding: 0 4rem;
  opacity: 0;
}

.Node:hover .CopyResourceFqnButton {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.FilterQueryInput {
  padding: 8rem 12rem 0 12rem;
}

.TreeControlButtons {
  padding: 8rem 12rem;
  display: flex;
  border-bottom: 1px solid var(--border-color);
}

.TreeControlButtons > * {
  margin-right: 8rem;
}

.TreeContainer {
  display: flex;
  flex: 1;
  overflow: auto;
  position: relative;
  padding-bottom: 24rem;
}

.TreeScrollParent {
  flex: 1;
  overflow: auto;
  scrollbar-width: thin;
  padding-bottom: 24rem;
}

.Loading {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--surface-color);
  width: 100%;
  border-radius: 8rem;
  flex: 0 1 auto;
  margin: 12rem;
  margin-bottom: auto;
  padding: 12rem;
}

.Loading > * {
  margin-bottom: 12rem;
}

.Loading > *:last-child {
  margin-bottom: 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
