.NodeIcon {
  font-size: 12rem;
  width: 24rem;
  height: 24rem;
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  background-color: #333;
  color: #fff;
  padding: 2rem;
  border-radius: 4rem;
  user-select: none;
  cursor: initial;
}

.NodeIconExpandable:hover {
  opacity: 0.5;
  transition: var(--transition-short);
}

.NodeIconExpandable {
  cursor: pointer;
  border-bottom: 2rem solid rgba(0, 0, 0, 0.27);
  position: relative;
  top: 1rem;
  transition: var(--transition-short);
}

.NodeIconExpanded {
}
