.FilterChain {
  padding-bottom: 36rem;
}

.FilterChainMainButtons {
  display: flex;
  gap: 8rem;
  flex-direction: row;
  margin-bottom: 12rem;
  justify-content: space-between;
  align-items: center;
}

.RowButtons {
  display: flex;
  gap: 8rem;
  flex-direction: row;
  align-items: center;
}

.Entry {
  padding: 6rem 12rem 12rem 12rem;
  border: 1px solid var(--border-color);
  margin-bottom: 12rem;
  border-radius: 4rem;
  display: flex;
  flex-direction: column;
}

.EntryFilter {
  flex: 1 1 auto;
  overflow: hidden;
}

.EntryButtons {
  display: flex;
  justify-content: space-between;
  padding: 0 6rem;
}

.EntryButton {
  margin-bottom: 6rem;
  align-items: center;
  display: flex;
}

.EntryButtonsRight {
  display: flex;
  gap: 8rem;
}

.EntryButtonsLeft {
  display: flex;
  gap: 8rem;
}
