.ConfirmationDialogContentWrapper {
    width: 450rem;
    display: flex;
    flex-direction: column;
    gap: 16rem;
}

.NumberOfMessages {
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

.Info {
    margin-bottom: 12rem;
}