.Producer {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  position: relative;
}

.Content {
  display: flex;
  flex: 1 1 auto;
  padding-bottom: 42rem;
  overflow: hidden;
}

.Config {
  margin-left: 180rem;
  overflow: auto;
  display: flex;
  flex: 1;
}

.ConfigLeft, .ConfigRight {
  padding: 12rem 12rem;
 }

.FormControl {
  display: flex;
  flex-direction: column;
  width: 480rem;
  margin-bottom: 12rem;
}

.Value {
  padding: 12rem;
}

.Toolbar {
  padding: 0 20rem;
  height: 38rem;
  border-top: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
}

.ToolbarControl {
  margin-right: 12rem;
  display: flex;
}

.ToolbarLoader {
  display: flex;
  gap: 12rem;
  align-items: center;
  margin-left: 12rem;
}

.ToolbarLoader svg {

  height: 18rem !important;
  width: 18rem !important;
}

.DoneIcon svg {
  fill: var(--accent-color-green);
}

.CloseIcon svg {
  fill: var(--accent-color-red);
}

.ToolbarSpinner {
  border-color: var(--accent-color-blue) var(--accent-color-blue) transparent !important;
  height: 18rem !important;
  width: 18rem !important;
}

.NoDataToShow {
  background-color: var(--surface-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12rem;
  border-radius: 8rem;
  margin: 12rem;
}
