.FilterChainEditor {
}

.Entry {
  padding: 12rem 0;
  border-radius: 4rem;
  display: flex;
  position: relative;
}

.EntryFilter {
  flex: 1 1 auto;
}

.Buttons {
  display: flex;
  gap: 8rem;
  justify-content: flex-end;
}
