.Messages {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-bottom: 1rem solid #ddd;
  margin-bottom: 8rem;
}

.List {
  position: relative;
  font-size: 14rem;
  border-spacing: 0;
  border-left: none;
  border-right: none;
  flex: 1 1 auto;
  overflow: auto;
}

.Message {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-bottom: 1rem solid #ddd;
  animation: fade-in 0.2s ease-in-out;
}

.Message:last-child {
  border-bottom: none;
}

.MessageMetadata {
  padding: 12rem;
}

.MessageData {
  padding: 12rem;
  word-break: break-all;
}

.Toolbar {
  display: flex;
  align-items: center;
  padding: 8rem 12rem;
  border-bottom: 1rem solid #ddd;
}

.Buttons {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.ButtonsButton {
  margin-right: 12rem;
}

.ButtonsButton:last-child {
  margin-right: 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
