.Messages {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-bottom: 1rem solid #ddd;
  margin-bottom: 8rem;
}

.List {
  font-size: 14rem;
  flex: 1 1 auto;
  overflow: auto;
}
