.Toolbar {
  display: flex;
  align-items: center;
  padding: 8rem 12rem;
  border-bottom: 1rem solid #ddd;
}

.ToolbarLeft {
  margin-right: auto;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}

.ToolbarRight {
  margin-right: auto;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}

.MessagesLoadedStats {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.MessagesLoadedStat {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  line-height: 1;
  font-size: 12rem;
}

.MessagesLoadedStatValue {
  text-align: right;
  flex: 1 1;
}
.MessagesLoadedStatTitle {
  width: 11ch;
  text-align: right;
}

.Controls {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1 1;
}

.Control {
  margin-right: 12rem;
}

.Control:last-child {
  margin-right: 0;
}
