.Button {
  color: #fff;
  display: inline-flex;
  flex: 0 1 auto;
  align-items: center;
  justify-content: center;
  font-size: 12rem;
  background-color: var(--accent-color-blue);
  padding: 2rem 8rem;
  border-radius: 4rem;
  transition: var(--transition-short);
  user-select: none;
  position: relative;
  opacity: 1;
  border-bottom: 2rem solid rgba(0, 0, 0, 0.27);
}

.Button:hover {
  opacity: 0.5;
  cursor: pointer;
  transition: var(--transition-short);
}

.Button svg {
  width: 16rem;
  height: 16rem;
  margin-right: 4rem;
  fill: #fff;
}

.ButtonWithoutText {
  padding: 2rem;
}

.ButtonWithoutText svg {
  margin-right: 0;
}
