.SearchResults {
  overflow: hidden;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.Filters {
  border-bottom: 1px solid var(--border-color);
  /* flex: 0 0 auto; */
}

.Items {
  overflow: auto;
  flex: 1 0 auto;
}

.Item {
  border-bottom: 1px solid var(--border-color);
}

.Item:hover {
  cursor: pointer;
  background-color: var(--surface-color);
}

.ActiveItem {
  background-color: var(--surface-color);
}

.ItemName {
  font-weight: 500;
  padding: 12rem 12rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ItemDescription {
  padding: 2rem 12rem 12rem 12rem;
  margin-top: -12rem;
  font-size: 12rem;
}

.NothingToShow {
  padding: 12rem;
}
