.SearchResults {
  overflow: hidden;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.Filters {
  border-bottom: 1px solid var(--border-color);
}

.Toolbar {
  flex: 0 0 48rem;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12rem;
  gap: 12rem;
}

.Items {
  overflow: auto;
  flex: 1 1 auto;
}

.Item {
  position: relative;
  border-bottom: 1px solid var(--border-color);
  border-left: 4px solid transparent;
}

.Item:hover {
  cursor: pointer;
  background-color: var(--surface-color);
}

.ActiveItem {
  background-color: var(--surface-color);
  border-left-color: var(--accent-color-blue);
}

.ItemName {
  padding: 12rem 12rem;
  padding-left: 8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Item:hover .ItemName {
  padding-right: 142rem;
}

.ItemUpdatedAt {
  position: absolute;
  font-size: 12rem;
  right: 12rem;
  bottom: 2rem;
  opacity: 0;
}

.Item:hover .ItemUpdatedAt {
  opacity: 0.6;
  transition: var(--transition-short);
}

.ItemExtraLabel {
  position: absolute;
  font-weight: var(--font-weight-bold);
  font-size: 12rem;
  right: 12rem;
  top: 2rem;
}

.DeleteItemButton {
  position: absolute;
  top: 0rem;
  right: 4rem;
  opacity: 0;
}

.Item:hover .DeleteItemButton {
  opacity: 1;
  transition: var(--transition-short);
}

.Unnamed {
  opacity: 0.5;
}

.NothingToShow {
  padding: 12rem;
}
