.FormLabel {
  display: block;
  margin-bottom: 4rem;
  font-weight: bold;
  position: relative;
  display: flex;
}

.FormLabelWithHelp:hover {
  cursor: pointer;
  position: relative;
}

.HelpIcon {
  margin-left: 1ch;
  margin-top: 2rem;
}

.HelpIcon svg {
  width: 16rem;
  height: 16rem;
  fill: var(--accent-color-blue);
}

.Required {
  transform: translate(0.2ch, -0.8ch);
}
