.Tabs {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  flex: 1;
}

.TabsList {
  display: flex;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}

.CloseTabs {
  margin-left: auto;
}

.CloseTabs {
  background-color: #fff;
  width: 27rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.CloseTabs:hover {
  opacity: 0.5;
  cursor: pointer;
}

.CloseTabs svg {
  width: 18rem;
  height: 18rem;
  fill: var(--text-color);
}

.Tab {
  padding: 8rem 12rem;
  border-right: 1px solid var(--border-color);
  background-color: var(--surface-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-top: 1px solid var(--border-color);
}

.Tab:hover:not(.ActiveTab) {
  opacity: 0.5;
  cursor: pointer;
}

.ActiveTab {
  border-bottom: 1px solid #fff;
  margin-bottom: -1px;
  background-color: #fff;
  position: relative;
  box-shadow: 0rem 1rem 3rem rgba(0, 0, 0, 0.5);
  border-right: 0;
}

.ActiveTab:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 3rem;
  background-color: var(--accent-color-blue);
}

.TabContent {
  background-color: #fff;
  flex: 1;
  display: flex;
}
