.Title {
  margin: 0;
  font-size: 24rem;
  font-weight: bold;
  padding: 0 12rem;
  margin-bottom: 8rem;
}

.Field {
  display: flex;
  margin-bottom: 18rem;
}

.FieldTitle,
.FieldDescription,
.FieldInput {
  padding: 12rem;
  flex: 1 1 33.3333333%;
  font-size: 14rem;
  overflow: hidden;
}

.FieldTitle:first-child,
.FieldDescription:first-child,
.FieldInput:first-child {
  flex: 0 1 18%;
}
/* XXX - set columns size more explicitly instead of rely on first/last child here. */
.FieldTitle:last-child,
.FieldDescription:last-child,
.FieldInput:last-child {
  flex: 1 1 18%;
}
