.Field {
  display: flex;
  margin-bottom: 18rem;
}

.FieldTitle,
.FieldDescription,
.FieldInput,
.ColumnHeader {
  padding: 12rem;
  flex: 1 1 33.3333333%;
  font-size: 14rem;
  overflow: hidden;
}

.ColumnHeaders {
  display: flex;
  flex: 1 1 auto;
  border-bottom: 1rem solid #ddd;
  font-size: 13rem;
}

.ColumnHeader {
  font-weight: bold;
}
