.MarkdownPreview {
  max-width: 800rem;
}

.MarkdownPreview img,
.MarkdownPreview svg,
.MarkdownPreview iframe {
  max-width: 100%;
  box-sizing: content-box;
  background-color: #fff;
}

.MarkdownPreview p {
  margin-top: 0;
}

.MarkdownPreview p:last-child {
  margin-bottom: 0;
}

.MarkdownPreview h1 {
  margin-top: 0;
  font-weight: var(--font-weight-bold);
  font-size: 32rem;
  margin-bottom: 12rem;
}

.MarkdownPreview h2 {
  margin-top: 0;
  font-weight: var(--font-weight-bold);
  font-size: 24rem;
  margin-bottom: 12rem;
}

.MarkdownPreview h3 {
  margin-top: 0;
  font-weight: var(--font-weight-bold);
  font-size: 18rem;
  margin-bottom: 8rem;
}

.MarkdownPreview h4 {
  margin-top: 0;
  font-weight: var(--font-weight-bold);
  font-size: 16rem;
  margin-bottom: 8rem;
}

.MarkdownPreview h5 {
  margin-top: 0;
  font-weight: var(--font-weight-bold);
  font-size: 16rem;
  margin-bottom: 8rem;
}

.MarkdownPreview h6 {
  margin-top: 0;
  font-weight: var(--font-weight-bold);
  font-size: 16rem;
  margin-bottom: 8rem;
}

.MarkdownPreview table,
.MarkdownPreview th,
.MarkdownPreview td {
  border: 1px solid var(--border-color);
  border-collapse: collapse;
}

.MarkdownPreview th,
.MarkdownPreview td {
  padding: 4rem 12rem;
}