.IconToggle {
  display: inline-flex;
  align-items: center;
  border-radius: 5rem;
  overflow: hidden;
  padding: 2rem;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.27);
}

.IconToggle:hover {
  cursor: pointer;
  opacity: 0.5;
}

.SvgIcon {
  width: 20rem;
  height: 20rem;
}

.IconToggle.IconToggleWithLabel {
  height: 28rem;
  box-shadow: none;
}

.Label {
  font-weight: var(--font-weight-bold);
  font-size: 14rem;
  padding: 2rem 12rem;
  border: 1px dotted #aaa;
  border-radius: 4rem;
  /* text-decoration: underline dotted; */
}