.BreadCrumbs {
  display: flex;
  position: relative;
  padding-right: 48rem; /* For copy path button */
}

.Crumb {
  display: flex;
  padding: 6rem 12rem;
  align-items: center;
  color: var(--text-color);
  white-space: nowrap;
  max-width: 320rem;
}

.Crumb:hover {
  background-color: #eee;
  cursor: pointer;
}

.CrumbIcon {
  margin-right: 8rem;
}

/* Fix cursor: initial; for non expandable icons. */
.CrumbIcon:hover > * {
  cursor: pointer;
}

.CrumbTitle {
  font-size: 14rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.CrumbArrow {
  margin-left: 18rem;
}

.CrumbArrow svg {
  width: 12rem;
  height: 12rem;
  fill: var(--text-color);
}

.BreadCrumbsAtPageTop {
  border-bottom: 1px solid var(--border-color);
}

.CopyNameButton {
  position: absolute;
  top: 0;
  right: 12rem;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}
