.ConfirmationDialogContentWrapper {
    width: 450rem;
    display: flex;
    flex-direction: column;
    gap: 16rem;
}

.ExpireByMessageIdWrapper {
    display: flex;
    flex-direction: column;
    gap: 10rem;
}

.ToggleWrapper {
    width: fit-content;
}

.TimeInSeconds, .MessageId {
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

.Info {
    margin-bottom: 12rem;
}