.LibraryBrowser {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 120rem);
  flex: 1;
}

.Content {
  display: flex;
  overflow: hidden;
  flex: 1;
}

.SearchEditor {
  flex: 1 0 360rem;
  border-right: 1px solid var(--border-color);
  padding: 12rem 12rem 48rem 24rem;
  overflow: auto;
}

.SearchResults {
  flex: 1 0 420rem;
  border-right: 1px solid var(--border-color);
  overflow: hidden;
  display: flex;
}

.SearchResultsNothingToShow {
  flex: 1;
  padding: 12rem;
}

.LibraryItemEditor {
  overflow: auto;
  min-width: 600rem;

  /* Prevent accidental pages history navigation using touch-pad gestures. */
  overscroll-behavior-x: contain;
  overscroll-behavior-y: contain;
}

.Footer {
  display: flex;
  height: 64rem;
  padding: 12rem;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--surface-color);
  border-top: 1px solid var(--border-color);
  gap: 8rem;
}
