.LibraryBrowser {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.Content {
  display: flex;
  overflow: hidden;
}

.SearchEditor {
  width: 360rem;
  border-right: 1px solid #ddd;
  padding: 12rem 24rem 48rem 24rem;
  overflow: auto;
}

.SearchResults {
  width: 480rem;
  border-right: 1px solid #ddd;
  overflow: hidden;
  display: flex;
}

.LibraryItemEditor {
  overflow: auto;
}

.Footer {
  display: flex;
  height: 64rem;
  padding: 12rem;
  flex: 1 0 auto;
  align-items: center;
  justify-content: flex-end;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
}
