.LocalPulsarInstanceElement {
  padding: 12rem 24rem;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  gap: 8rem;
  position: relative;
}

.LocalPulsarInstanceElement:last-child {
  border-bottom: none;
}

.Name {
  padding-right: 94rem;
}