.Title {
  margin: 0;
  font-size: 24rem;
  font-weight: var(--font-weight-bold);
  margin-bottom: 8rem;
}

.Field {
  display: flex;
  margin-bottom: 18rem;
}

.FieldTitle {
  font-weight: var(--font-weight-bold);
}

.FieldTitle,
.FieldDescription,
.FieldInput {
  padding: 12rem;
  flex: 1 1 33.3333333%;
  font-size: 14rem;
  overflow: hidden;
}

.FieldTitle:first-child,
.FieldDescription:first-child,
.FieldInput:first-child {
  flex: 0 1 18%;
  padding-left: 0;
}
/* XXX - set columns size more explicitly instead of rely on first/last child here. */
.FieldTitle:last-child,
.FieldDescription:last-child,
.FieldInput:last-child {
  flex: 1 1 18%;
  padding-right: 0;
}

.FieldTitleText {
  position: relative;
  display: inline-flex;
}

.RequiredFieldMark {
  position: absolute;
  top: -0.5ch;
  right: -0.9ch;
}
