.FormItem {
  margin-bottom: 12rem;
}

.FormItem:last-child {
  margin-bottom: 0;
}

.FormLabel {
  display: block;
  margin-bottom: 4rem;
  font-weight: var(--font-weight-bold);
}

.ValidationError {
  color: var(--accent-color-red);
  font-weight: var(--font-weight-bold);
}
