.Notes {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1;
}

.MarkdownPreview {
  padding: 12rem;
  overflow: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.MarkdownPreview>* {
  flex: 1 0 auto;
}

.NoteTabs {
  display: flex;
  overflow: hidden;
  flex: 1;
}

.ExternalContent {
  display: flex;
  flex-direction: column;
}

.ExternalContentControls {
  padding-bottom: 8rem;
  display: flex;
  border-bottom: 1px solid var(--border-color);
}

.ExternalContentIframe {
  appearance: none;
  border: none;
  width: 100%;
  flex: 1;
}
