.Overview {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: (0, 1fr);
  overflow: hidden;
  flex: 1;
}

.LeftPanel {
  padding: 24rem 12rem 0 12rem;
  overflow: auto;
}

.RightPanel {
  overflow: hidden;
  display: grid;
  border-left: 1px solid var(--border-color);
}

.Section {
  margin-bottom: 24rem;
}

.StatisticsSection {
  display: flex;
  flex-direction: row;
  gap: 12rem;
}

.Properties {
  margin-bottom: 24rem;
}

.HighlightedCell {
  background-color: var(--surface-color);
  border-left: none;
}

.Table {}
