.KeyValueEditor {
  padding: 12rem 6rem;
}

.Line {
  display: flex;
  width: 100%;
  font-size: 14rem;
}

.LinkButton {
  justify-content: flex-end;
}
.LinkButton > button {
  margin-left: 10rem;
  max-width: 100rem;
  width: 100rem;
}
