.KeyValueEditor {
  padding: 12rem 6rem;
  position: relative;
}

.Line {
  display: flex;
  width: 100%;
  font-size: 14rem;
  margin-bottom: 8rem;
}

.LinkButton {
  justify-content: flex-end;
}
.LinkButton > button {
  max-width: 110rem;
}
.JsonViewButton {
  position: absolute;
  right: 5.5px;
  z-index:103;
}

.LinkButtons {
  justify-content: flex-end;
}
.LinkButtons > button:last-child {
  /* margin-right: 5rem; */
}
.LinkButtons > button {
  margin: 4rem 0 0 4rem;
  max-width: 60rem;
}
.JsonViewButtons > button:last-child {
  margin-right: 65rem;
}