.Message {
  overflow: hidden;
  padding: 0rem 0;
  border-bottom: 1px solid var(--border-color);
}

.ShowMoreButton {
  display: none;
}

tr:has(> .Td:hover) {
  outline: 2px solid var(--accent-color-blue);
  z-index: 999;
  position: relative;
  cursor: pointer;
}

/* Fields */
.IndexField {
  position: sticky;
  left: 0;
  z-index: 1;
}

.PublishTimeField {
  position: sticky;
  left: 60rem;
  z-index: 1;
}

.ViewMessageDetailsField {
  position: sticky;
  left: 285rem;
  z-index: 1;
}

