.Message {
  overflow: hidden;
  padding: 4rem 0;
  border-bottom: 1px solid var(--border-color);
}

.ShowMoreButton {
  display: none;
}

/* Fields */
.IndexField {
  position: sticky;
  left: 0;
  z-index: 1;
}

.PublishTimeField {
  position: sticky;
  left: 60rem;
  z-index: 1;
}

.ViewMessageDetailsField {
  position: sticky;
  left: 285rem;
  z-index: 1;
}

.ReprocessButton svg {
  transform: rotate(90deg);
}
