.TopicDetails {
  flex: 1;
  display: flex;
}

.ConfigurationTable {
  padding: 24rem 24rem 0 24rem;
  flex: 1;
}

.Tabs {
  flex: 1;
  display: flex;
}

.IsGlobalCheckbox {
  z-index: 999;
  justify-content: flex-end;
  align-items: end;
  gap: 6rem;
  margin: 20rem 0 20rem 70%;
  display: flex;
  position: absolute;
}
