.CredentialsEditor {
  padding-top: 24rem;
  padding-bottom: 12rem;
  min-width: 600rem;
}

.Footer {
  display: flex;
  justify-content: flex-end;
  gap: 12rem;
  margin-top: 24rem;
}

.Errors {
  display: flex;
  flex-direction: column;
  gap: 12rem;
  color: var(--accent-color-red);
  margin-top: 12rem;
}