.ColoringRuleInput {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 24rem;
}

.TopRow {
  display: flex;
  gap: 12rem;
  margin-top: -12rem;
}

.ColorPicker {
  width: 24rem;
  height: 24rem;
}

.Colors {
  display: flex;
  gap: 12rem;
  flex: 1;
}

.ColorsPreview {
  height: 24rem;
  border-radius: 4rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 12rem;
  border: 1px solid var(--border-color);
}
