.PersistentTopicInternalStats {
  padding: 24rem 0;
}

.Section {
  margin-bottom: 24rem;
}

.SectionTitle {
  margin-bottom: 12rem;
}

.CompactedLedger {
  display: flex;
  height: 100rem;
}

.SchemaLedgers {
  display: flex;
  height: 180rem;
}
