.Button {
  border: none;
  appearance: none;
  padding: 0;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14rem;
  font-weight: 500;
  background-color: var(--accent-color-blue);
  padding: 4rem 12rem;
  border-radius: 4rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.27);
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.27);
  margin: 1rem;
  user-select: none;
  position: relative;
  opacity: 1;
  border: 1px solid var(--border-color);
  transition: var(--transition-short);
}

.Text {
  overflow: hidden;
  text-overflow: ellipsis;
}

.Regular {
  background-color: #fff;
  color: var(--text-color);
}

.Regular svg {
  fill: var(--text-color);
}

.Primary {
  background-color: var(--accent-color-blue);
  border-color: var(--accent-color-blue);
  color: #fff;
}

.Primary svg {
  fill: #fff;
}

.Danger {
  background-color: var(--accent-color-red);
  border-color: var(--accent-color-red);
  color: #fff;
}

.Danger svg {
  fill: #fff;
}

.Button:hover {
  opacity: 0.5;
  cursor: pointer;
  transition: var(--transition-short);
}

.Button svg {
  width: 20rem;
  height: 20rem;
  margin: 1rem;
  margin-right: 8rem;
}

.ButtonWithoutText {
  padding: 2rem 3rem;
}

.ButtonWithoutText svg {
  margin-right: 0;
}

.DisabledButton {
  opacity: 1;
  background-color: var(--surface-color) !important;
  border-color: var(--border-color) !important;
  color: #999 !important;
}

.DisabledButton svg {
  fill: var(--border-color);
}

.DisabledButton:hover {
  cursor: default;
  opacity: 1;
}
