.Button {
  border: none;
  appearance: none;
  padding: 0;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14rem;
  font-weight: var(--font-weight-bold);
  background-color: var(--accent-color-blue);
  padding: 4rem 12rem;
  border-radius: 4rem;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.27);
  margin: 0rem;
  user-select: none;
  position: relative;
  opacity: 1;
  border: 1px solid var(--border-color);
  border-bottom: 1px solid rgba(0, 0, 0, 0.27);
  transition: var(--transition-short);
  height: 28rem;
  min-width: 28rem;
}

.Button.Borderless,
.Button.BorderlessSemitransparent {
  background-color: transparent;
  box-shadow: none;
  border: none;
}

.Button.Borderless {
  opacity: 1;
}

.Button.Borderless:hover {
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
}

.Button.BorderlessSemitransparent {
  opacity: 0.5;
}

.Button.BorderlessSemitransparent:hover {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.Text {
  overflow: hidden;
  text-overflow: ellipsis;
}

.Regular {
  background-color: #fff;
  color: var(--text-color);
}

.Regular svg {
  fill: var(--text-color);
}

.Primary {
  background-color: var(--accent-color-blue);
  border-color: var(--accent-color-blue);
  border-bottom-color: rgba(0, 0, 0, 0.27);
  color: #fff;
}

.Primary svg {
  fill: #fff;
}

.Danger {
  background-color: var(--accent-color-red);
  border-color: var(--accent-color-red);
  border-bottom-color: rgba(0, 0, 0, 0.27);
  color: #fff;
}

.Danger svg {
  fill: #fff;
}

.Button:hover {
  opacity: 0.5;
  cursor: pointer;
  transition: var(--transition-short);
}

.Button svg {
  width: 18rem;
  height: 18rem;
  margin: 1rem;
  margin-right: 6rem;
  margin-left: -4rem;
}

.ButtonWithoutText {
  padding: 2rem 3rem;
}

.ButtonWithoutText svg {
  margin-left: 0 !important;
  margin-right: 0;
}

.Button.Button.Borderless,
.Button.BorderlessSemitransparent {
  background-color: transparent;
}
.DisabledButton {
  opacity: 1;
  background-color: var(--surface-color) !important;
  border-color: var(--border-color) !important;
  color: #999 !important;
}

.DisabledButton svg {
  fill: #aaa;
}

.DisabledButton:hover {
  cursor: default;
  opacity: 1;
}
