.Toolbar {
  display: flex;
  border-bottom: 1px solid var(--border-color);
  height: 54rem;
}

.Children {
  padding: 8rem 12rem;
  flex: 1;
}

.Tabs {
  margin-left: auto;
  display: flex;
}

.Tab {
  padding: 8rem 24rem;
  border-left: 1px solid var(--border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--surface-color);
}

.Tab:hover:not(.ActiveTab) {
  opacity: 0.5;
  cursor: pointer;
}

.ActiveTab {
  background-color: #fff;
  border-bottom: 1px solid #fff;
  margin-bottom: -1px;
}
