.PageContent {
    padding: 24rem 12rem;
    display: flex;
    flex-direction: column;
    gap: 8rem;
    align-items: flex-start;
}

.PageNotFoundDescription {
    font-size: 15rem;
    line-height: 1.8;
    margin-left: 18rem;
    margin-top: 12rem;
}

.BackToHomeWrapper {
    display: flex;
    align-items: center;
    margin-top: 26rem;
}
