.Console {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  overflow: auto;
  margin-top: auto;
}

.VisibleConsole {
  border-top: 4px solid var(--border-color);
  height: 480rem;
}

.SubscriptionsCursors {
  display: flex;
  flex: 1 1 auto;
}
