.Console {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #ddd;
  height: 480rem;
  background-color: #fff;
}

.Tabs {
  display: flex;
  background-color: #f5f5f5;
}

.Tab {
  padding: 4rem 12rem;
  border-right: 1px solid #ddd;
  background-color: #f5f5f5;
}

.Tab:hover {
  opacity: 0.5;
  cursor: pointer;
}

.ActiveTab {
  background-color: #fff;
}

.SubscriptionsCursors {
  display: flex;
  flex: 1 1 auto;
}

.CloseConsole {
  background-color: #fff;
  width: 27rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  border-left: 1px solid #ddd;
}

.CloseConsole:hover {
  opacity: 0.5;
  cursor: pointer;
}

.CloseConsole svg {
  width: 18rem;
  height: 18rem;
  fill: var(--text-color);
}

.NothingToShow {
  padding: 12rem 12rem;
}
