.List {
  display: flex;
  flex-direction: column;
}

.Row {
  display: flex;
  width: 100%;
  font-size: 14rem;
  margin-bottom: 8rem;
  z-index: 100;
}

.Row:last-child {
  margin-bottom: 0;
}

.Rows {
  overflow-y: auto;
}

.Header {
  top: 0;
  background-color: #fff;
  z-index: 101;
  padding-bottom: 5rem;
}

.Header > span {
  width: calc(50% - 38rem);
  margin-right: 8rem;
  font-weight: bold;
}

.Field {
  width: calc(50% - 38rem);
  max-width: calc(50% - 38rem);
  margin-right: 8rem;
}

.Button {
  padding-left: 0;
  padding-right: 0;
}

.ButtonBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60rem;
}
