.Toolbar {
  display: flex;
  padding: 12rem;
  background-color: var(--surface-color);
}

.ToolbarButton {
  margin-right: 12rem;
}

.ToolbarButton:last-child {
  margin-right: 0;
}

.ToolbarButtonRight {
  margin-left: auto;
}
