.Toolbar {
  display: flex;
  padding: 8rem 12rem;
  background-color: var(--surface-color);
  justify-content: space-between;
}

.ButtonGroup {
  display: flex;
  gap: 8rem;
}

.ToolbarButton:last-child {
  margin-right: 0;
}

.ToolbarButtonRight {
  margin-left: auto;
}