.LibraryItemName {
  display: flex;
  align-items: center;
  gap: 8rem;
}

.Buttons {
  opacity: 0;
  display: flex;
}

.LibraryItemName:hover .Buttons {
  opacity: 1;
  transition: var(--transition-short);
}