.FiltersEditor {
  display: flex;
  padding: 12rem;
  height: 70vh;
}

.Column {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid black;
  min-width: 300rem;
}

.Inactive {
  padding: 2px 5px;
}

.Active {
  background-color: var(--accent-color-blue);
  color: #fff;
}
.Empty {
  background-color: var(--accent-color-red);
  color: #fff;
}
.Collections, .Filters {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.Buttons {
  display: flex;
  flex: 0 0 auto;
}
.Buttons > button {
  margin: 0 5px;
}

.JsonEditor {
  width: 400rem;
}

.RenameWindow {
  position: absolute;
  background-color: #fff;
  border: 1px solid black;
  padding: 6rem;
  margin-left: 200px;
  z-index: 500;
  font-size: 14pt;
  width: 300rem;
}
.HeadRenameWindow {
  display: flex;
  margin-bottom: 10rem;
}
.RenameWindowButtons {
  display: flex;
  justify-content: flex-end;
}
.RenameWindowButtons > button {
  margin: 6rem;
}

.MainButtons {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.MainButtons > button:last-child {
  margin-right: 12rem;
}
.MainButtons > button {
  margin: 0 6rem 6rem 6rem;
}