.FiltersEditor {
  display: flex;
  padding: 12rem;
  height: 70vh;
  gap: 6rem;
}

.Column {
  display: flex;
  flex-direction: column;
  padding: 12rem;
  min-width: 300rem;
  border: 1px solid var(--border-color);
  border-radius: 6rem;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.27);
  transition: var(--transition-short);
}

.Inactive {
  padding: 2rem 5rem;
}

.Active {
  background-color: var(--accent-color-blue);
  color: #fff;
  border-radius: 4rem;
}

.Empty {
  background-color: var(--accent-color-red);
  color: #fff;
}
.Collections, .Filters {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.Collections > :first-child,
.Filters > :first-child,
.JsonEditor > :first-child,
.FilterInfo > :first-child {
  margin-bottom: 6rem;
}

.Buttons {
  display: flex;
  flex: 0 0 auto;
}
.Buttons > button {
  margin: 0 5px;
}

.JsonEditor {
  width: 400rem;
}

.FilterInfoFieldsWrapper {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.FilterInfoField {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.RenameCollection {
  position: absolute;
  background-color: #fff;
  border: 1px solid var(--border-color);
  border-radius: 6rem;
  padding: 10rem;
  margin-left: 160rem;
  z-index: 500;
  font-size: 14pt;
  width: 300rem;
}
.HeadRenameCollection {
  display: flex;
  margin-bottom: 10rem;
}
.RenameWindowButtons {
  display: flex;
  justify-content: flex-end;
}
.RenameWindowButtons > button {
  margin: 6rem;
}

.MainButtons {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.MainButtons > button:last-child {
  margin-right: 12rem;
}

.MainButtons > button {
  margin: 0 6rem 12rem 6rem;
}