.SessionConfiguration {
  flex: 1 1 auto;

  display: flex;
  flex-direction: column;

  overflow-x: auto;
  overflow-y: hidden;
}

.Columns {
  display: flex;

  overflow-y: hidden;
  overflow-x: unset;

  scrollbar-width: thin;
  flex: 1 0;

  overscroll-behavior-x: contain;
  /* Prevent accidental pages history navigation using touch-pad gestures. */
  overscroll-behavior-y: contain;
}

.WithinLibraryBrowser {
  overflow-x: unset;
  overflow-y: unset;
}

.WithinLibraryBrowser .Columns {
  overflow-y: unset;
  overflow-x: unset;
}

.GlobalConfig {
  display: flex;
  flex-direction: column;
  gap: 32rem;
  padding: 24rem 12rem;
  overflow: hidden scroll;
  scrollbar-width: thin;
  height: 100%;
  flex: 0 0 500rem;
}

.TargetColumn {
  flex: 0 0 500rem;
  overflow: hidden scroll;
  scrollbar-width: thin;
  position: relative;
}

.LastColumn {
  padding: 24rem 12rem;
  padding-right: 24rem;
}

.DeleteTargetButton {
  position: absolute;
  top: 24rem;
  right: 12rem;
  z-index: 1;
}
