.SessionConfiguration {
  flex: 1 1 auto;
  overflow: auto;
  display: flex;
}

.LeftColumn,
.RightColumn {
  padding: 12rem;
}

.LeftColumn {
  width: 33.33333333333%;
}

.RightColumn {
  width: 66.66666666666%;
}

.ControlLabel {
  font-weight: bold;
  margin-bottom: 4rem;
}
