.SessionConfiguration {
  flex: 1 1 auto;
  overflow: auto;
}

.Title {
  margin-bottom: 24rem;
  display: flex;
  gap: 12rem;
}

.Content {
  display: flex;
  gap: 24rem;
}

.LeftColumn {
  width: 33.33333333333%;
}

.RightColumn {
  width: 66.66666666666%;
}
