.TooltipElement {
  display: inline-flex;
  text-decoration: none;
  font-weight: 500;
  color: var(--color-text-primary);
  cursor: pointer;
}

.TooltipElement:hover {
  opacity: 0.5;
  text-decoration: underline;
}

.TooltipElement svg {
  fill: var(--accent-color-black);
}
