/* Heading block------------------------------------------------------------- */
.headingsSection {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
  width: 100%;
}

.headingsContainer {
}

.headingColored {
  color: #6e79d6;
}
