.Configuration {
  padding: 24rem 12rem;
  padding-bottom: 48rem;
}

.Toolbar {
  display: flex;
  margin-bottom: 24rem;
}

.ConfigurationTable {
  display: flex;
}

.Table {
  font-size: 14rem;
  border-spacing: 0;
  border: 1px solid #ddd;
  width: 100%;
}

.Cell {
  padding: 4rem 12rem;
  border: 1px solid #ddd;
  border-bottom: none;
  border-right: none;
  word-wrap: break-word;
}

.Table thead .Cell {
  border-top: none;
}

.Table thead .Cell:first-child {
  border-left: none;
}

.Row:last-child .Cell {
  border-bottom: none;
}

.Row .Cell:first-child {
  border-left: none;
}

.Row .Cell:last-child {
  border-right: none;
}

.ConfigParamKeyCell {
  max-width: 200rem;
}
.RuntimeConfigCell,
.DynamicConfigCell {
  max-width: 200rem;
}

.DynamicConfigValue {
  display: flex;
  position: relative;
}

.DynamicConfigValueButton {
  appearance: none;
  border: none;
  padding: 0;
  background-color: #f5f5f5;
  width: 24rem;
  height: 24rem;
  border-radius: 4rem;
  border-bottom: 2rem solid rgba(0, 0, 0, 0.27);
  transition: var(--transition-short);
  margin-left: auto;
}
.DynamicConfigValueButton:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: var(--transition-short);
}
.DynamicConfigValueButton svg {
  width: 18rem;
  height: 18rem;
  fill: var(--text-color);
}

.DynamicConfigValueEditor {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -36rem;
  right: 36rem;
  z-index: 10;
  padding: 12rem;
  box-shadow: 1rem 1rem 8rem rgba(0, 0, 0, 0.27);
  background-color: #fff;
  border-radius: 4rem;
  width: 480rem;
  animation: fade-in 0.2s ease-in-out;
}

.DynamicConfigValueEditor:focus {
  outline: none;
}

.DynamicConfigValueEditorInput {
  margin-bottom: 12rem;
}

.DynamicConfigValueEditorButtons {
  display: flex;
  justify-content: flex-end;
}

.DynamicConfigValueEditorUpdateButton {
  margin-right: 12rem;
}

.DynamicConfigValueEditorUpdateButton:last-child {
  margin-right: 0;
}

.DynamicConfigValueEditorHeader {
  margin-bottom: 12rem;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
