.MessagesExporter {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
  padding: 24rem;
  gap: 12rem;
  position: relative;
}

.ResetSettingsButton {
  top: 24rem;
  right: 24rem;
  position: absolute;
  z-index: 10;
}

.MessageFieldsConfig {
  padding-bottom: 24rem;
}

.ExporterWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8rem;
}

.ExporterLeft {
  min-width: 285rem;
}

.ExporterRight {
  display: flex;
  gap: 8rem;
}