.Header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}

.Content {
  display: flex;
  gap: 24rem;
}

.LeftColumn {
  flex: 0 0 50%;
}

.RightColumn {
  flex: 0 0 50%;
  padding-right: 12rem;
}
