.Overview {
  display: flex;
  flex-direction: row;
  min-height: 100%;
}

.LeftPane {
  flex: 1 0 60%;
  min-width: 640rem;
  border-right: 1px solid var(--border-color);
  padding: 24rem 12rem;
}

.RightPane {
  flex: 1 0 40%;;
  display: flex;
  flex-direction: column;
  padding: 24rem 12rem;
}

.Section {
  margin-bottom: 36rem;
}

.SubSection {
  margin-bottom: 24rem;
}

.PageHeader {
  margin-bottom: 12rem;
}

.SectionHeader {
  margin-bottom: 8rem;
}

.MarkdownTitle {
  padding: 12rem 0;
  font-size: 16rem;
  font-weight: var(--font-weight-bold);
}

.Markdown iframe {
  border: none;
}



