.Overview {
}

.Section {
  margin-bottom: 36rem;
}

.SubSection {
  margin-bottom: 24rem;
}

.PageHeader {
  margin-bottom: 12rem;
}

.SectionHeader {
  margin-bottom: 8rem;
}

.LeftPane {
  width: 55%;
  min-width: 640rem;
  border-right: 1px solid var(--border-color);
  padding: 24rem 12rem;
}
