.CreateSinks {
  
}

.CreateSinksField {
  width: 100%;
  display: flex;
  margin: 20rem;
}
.CreateSinksField > h3 {
  width: 40%;
}

.CreateSinkInput {
  width: calc(60% - 40rem);
}

.HideUnrequired {
  display: none;
}