.Table {
  font-size: 14rem;
  border-spacing: 0;
  overflow: hidden;
  border: 1px solid #ddd;
}

.Cell {
  padding: 4rem 12rem;
  border: 1px solid #ddd;
  border-bottom: none;
  border-right: none;
}

.Row:first-child .Cell {
  border-top: none;
}

.Row:last-child .Cell {
  border-bottom: none;
}

.Row .Cell:first-child {
  border-left: none;
}

.Row .Cell:last-child {
  border-right: none;
}
