.TopicsSubscriptionsCursors {
  position: fixed;
  z-index: 999;
  bottom: 12rem;
  left: 12rem;
  width: 480rem;
  height: 320rem;
  overflow: auto;
  box-shadow: 1rem 1rem 8rem rgba(0, 0, 0, 0.27);
  border-radius: 8rem;
  background-color: #fff;
}
