.NodeIcon {
  position: relative;
  font-size: 14rem;
  width: 26rem;
  height: 26rem;
  display: flex;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  background-color: #333;
  color: #fff;
  padding: 2rem;
  border-radius: 6rem;
  user-select: none;
  cursor: initial;
}

.NodeIconExpandable:hover {
  opacity: 0.5;
  transition: var(--transition-short);
}

.NodeIconExpandable {
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.27);
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.27);
  margin: 1rem;
  position: relative;
  top: 1rem;
  transition: var(--transition-short);
}

.NodeIconExpanded {
}

.NodeIconAddon {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(-40%, 35%) rotateZ(45deg);
  background-color: #fff;
  color: var(--text-color);
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.27);
  border-radius: 2rem;
  padding: 1rem 4rem;
  font-size: 12rem;
  font-weight: bold;
  line-height: 1;
  white-space: no-wrap;
}
