.RemotePulsarConnectionEditor {
  width: 600rem;
  display: flex;
  flex-direction: column;
}

.CredentialsMetadataEditor {
  padding: 24rem;
  padding-bottom: 18rem;
  margin-bottom: 18rem;
  border-bottom: 1px solid var(--border-color);
}

.ToggleAndInput {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.Form {
  display: flex;
  flex-direction: column;
  padding: 12rem 24rem;
  gap: 18rem;
}