.EditorDialog {
  overflow: hidden;
  max-height: inherit;
  display: grid;
  grid-template-rows: 1fr min-content;
}

.EditorDialogContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12rem;
  padding: 12rem;
}

.EditorDialogFooter {
  display: flex;
  justify-content: flex-end;
  padding: 12rem;
  gap: 12rem;
  border-top: 1px solid var(--border-color);
}