.NoData {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24rem;
  background-color: var(--surface-color);
  border-radius: 12rem;
  margin: 24rem 0;
}

.List {
  margin-top: 12rem;
  display: flex;
  flex-direction: column;
}

.ListFooter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12rem;
  margin-top: 24rem;
}

.ListFooterRight {
  display: flex;
  align-items: center;
  gap: 12rem;
}

.ListFooterLeft {
  display: flex;
  align-items: center;
  justify-content: center;
}

.CredentialsActions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12rem;
}
