.ItemCount {
  background-color: var(--surface-color);
  color: var(--accent-color-blue);
  padding: 0 6rem;
  border-radius: 6rem;
  margin-left: 6rem;
  margin-right: -4rem;
  font-size: 12rem;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  height: 20rem;
  white-space: nowrap;
  transition: var(--transition-short);
}

.ItemCount:hover {
  cursor: pointer;
  opacity: 0.7;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.27);
  transition: var(--transition-short);
}

.Icon svg {
  width: 16rem;
  height: 16rem;
  fill: var(--accent-color-blue);
}

.Dialog {
  height: calc(100vh - 96rem);
  width: calc(100vw - 48rem);
  display: grid;
  overflow: hidden;
  padding-left: 12rem;
}
