.Policies {
}

.ConfigurationTable {
  margin-bottom: 48rem;
  padding: 24rem 24rem 0 24rem;
  flex: 1;
}

.Tabs {
  padding: 12rem;
}

.IsGlobalCheckbox {
  z-index: 999;
  justify-content: flex-end;
  align-items: end;
  gap: 6rem;
  margin: 16rem 0 20rem 65%;
  display: flex;
  position: absolute;
}

.ClipboardControls {
  position: absolute;
  justify-content: flex-end;
  right: 0;
  padding: 12rem;
  gap: 6rem;
  display: flex;
  z-index: 2;
}
