.LeftSidebar {
  width: 380rem;
  height: 100vh;
  position: fixed;
  z-index: 100;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ddd;
}

.NavigationTree {
  flex: 1;
  overflow: hidden;
}

.Content {
  margin-left: 380rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.Children {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.Footer {
  margin-top: auto;
}
