.PulsarVersionInfoElement {
  padding: 12rem 24rem;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  gap: 8rem;
  align-items: center;
}

.PulsarVersionInfoElement:hover {
  background-color: var(--surface-color);
  cursor: pointer;
}