.Button {
  position: relative;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 14px;
  user-select: none;
  transition: var(--transition-short);
  border: none;
  appearance: none;
  border-bottom: 2rem solid rgba(0, 0, 0, 0.27);
  box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.5);
}

.Button:hover {
  cursor: pointer;
  opacity: 0.5;
  user-select: none;
  transition: var(--transition-short);
}

.Button svg {
  width: 20rem;
  height: 20rem;
  margin-right: 4rem;
  fill: #fff;
}

.ButtonWithoutText {
  padding: 2rem 3rem;
}

.ButtonWithoutText svg {
  margin-right: 0;
}

.Regular {
  background-color: #f5f5f5;
  color: var(--text-color);
  box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.5), 1rem 1rem 1rem rgba(0, 0, 0, 0.3);
}

.Regular svg {
  fill: var(--text-color);
}

.Primary {
  background-color: var(--accent-color-blue);
  color: #fff;
}

.Danger {
  background-color: var(--accent-color-red);
  color: #fff;
}

.DisabledButton {
  opacity: 1;
  background-color: #f5f5f5 !important;
  color: #999 !important;
}

.DisabledButton svg {
  fill: #aaa;
}

.DisabledButton:hover {
  cursor: default;
  opacity: 1;
}

.SmallSize {
  padding: 2rem 12rem;
  height: 26rem;
  font-size: 12rem;
}
.SmallSize svg {
  margin-right: 10rem;
  width: 16rem;
  height: 16rem;
}
