.FormControl {
  margin-bottom: 12rem;
}

.CodeEditorContainer {
  margin-bottom: 12rem;
}

.CodeEditor {
  margin-bottom: 8rem;
}

.CompilationError {
  color: var(--accent-color-red);
  padding: 12rem 0;
}
