.LibraryItemEditor {
  overflow: hidden;
  flex: 1;
  display: grid;
  grid-template-rows: min-content 1fr;
}

.Info {
  padding: 12rem;
  border-bottom: 1px solid var(--border-color);
  display: flex;
}

.Editor {
  overflow: auto;
  padding-left: 12rem;


  /* Prevent accidental pages history navigation using touch-pad gestures. */
  overscroll-behavior-x: contain;
}
