.LibraryItemEditor {
  padding: 12rem;
  padding-right: 0;
  padding-bottom: 0;
  overflow: hidden;
  flex: 1;
  display: grid;
  grid-template-rows: min-content 1fr;
}

.Info {
  padding-bottom: 12rem;
  padding-right: 12rem;
  margin-bottom: 12rem;
  border-bottom: 1px solid var(--border-color);
  display: flex;
}

.Editor {
  overflow: auto;
}
