.Overview {
  padding: 24rem 12rem 0 12rem;
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

.LeftPanel {
  flex: 1 0 50%;
}

.RightPanel {
  flex: 1 0 50%;
  border-left: 1px solid var(--border-color);
  background-color: var(--surface-color);
}

.Section {
  margin-bottom: 24rem;
}

.SectionTitle {
  margin-bottom: 12rem;
}

.NothingToShow {
  padding: 12rem;
}

.Tabs {
  margin-right: 12rem;
}

.Tab {
  margin-top: -1rem;
  flex: 1;
}

.JsonViewer {
  display: flex;
  flex-direction: column;
  width: 30vw;
}

.HighlightedCell {
  background-color: var(--surface-color);
  border-left: none;
  padding-left: 12rem;
}

.Properties {
  margin-bottom: 24rem;
  display: flex;
  flex-direction: column;
  gap: 12rem;
}

.TopicNameCopyField {
  width: fit-content;
}