.Overview {
  display: flex;
  overflow: hidden;
}

.LeftPanel {
  flex: 1 0 50%;
  padding: 24rem 12rem 0 12rem;
  overflow: auto;
}

.RightPanel {
  background-color: var(--surface-color);
  flex: 1 0 50%;
  overflow: hidden;
  display: flex;
}

.Section {
  margin-bottom: 24rem;
}

.SectionTitle {
  margin-bottom: 12rem;
}

.NothingToShow {
  padding: 12rem;
}

.Tabs {
  margin-right: 12rem;
}

.Tab {
  margin-top: -1rem;
  flex: 1;
}

.JsonViewer {
  display: flex;
  flex-direction: column;
  width: 30vw;
}

.HighlightedCell {
  background-color: var(--surface-color);
  border-left: none;
  padding-left: 12rem;
}
