.FiltersToolbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #fff;
  border-bottom: 1px solid var(--border-color);
  position: relative;
}

@media (max-width: 1200px) {
  .FiltersToolbar {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .FiltersToolbar {
    grid-template-columns: 1fr;
  }
}

.Filter {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  padding: 12rem 18rem;
  border-radius: 8rem;
  transition: var(--transition-short);
}

.InactiveFilter {
  filter: grayscale(1);
  opacity: 0.5;
  transition: var(--transition-short);
}

.Filter:first-child {
  margin-left: -6rem;
}

.FilterTitle {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 4rem;
}

.FilterIcon svg {
  width: 16rem;
  height: 16rem;
  fill: var(--text-color);
  margin-right: 4rem;
}

.FilterTitleText {
  display: flex;
  margin-right: auto;
  align-items: center;
}

.ToggleFilter {
  display: flex;
  opacity: 0;
}

.RemoveFilter {
  opacity: 0;
}

.Filter:hover .ToggleFilter,
.Filter:hover .RemoveFilter {
  opacity: 1;
}
