.NodeIcon {
  font-size: 12rem;
  width: 24rem;
  height: 24rem;
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  background-color: #333;
  color: #fff;
  padding: 2rem;
  border-radius: 4rem;
  user-select: none;
  cursor: initial;
}

.NodeIconExpandable:hover {
  opacity: 0.75;
}

.NodeIconExpandable {
  cursor: pointer;
  border-bottom: 2rem solid rgba(0, 0, 0, 0.27);
  position: relative;
  top: 1rem;
}

/* .NodeIconExpandable::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 24rem;
  height: 24rem;
  background-color: #333;
  transform: translate(100%, 0);
} */

.NodeIconExpanded {
  /* box-shadow: inset 2rem 3rem 4rem rgba(0, 0, 0, 0.5); */
}

