.NavigationTree {
  background-color: #fff;
  height: 100%;
  overflow: auto;
  font-size: 14rem;
  padding-bottom: 24rem;
}

.Node {
  padding: 12rem 18rem;
  background-color: #fff;
  position: relative;
}

.Node:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.NodeContent {
  position: relative;
  line-height: 1;
  display: flex;
  align-items: center;
}

.NodeChildrenCount {
  position: absolute;
  right: 12rem;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-self: center;
}

.NodeTextContent {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 0.4ch;
  padding-right: 12rem;
}

.NodeLink {
  color: inherit;
}
.NodeLink:hover {
  opacity: 1;
}

.FilterQueryInput {
  padding: 8rem 12rem;
}

.TreeControlButtons {
  padding: 8rem 12rem;
  display: flex;
}

.TreeControlButtons > * {
  margin-right: 8rem;
}

.NodeTypeFilterButton {
  position: static !important;
}
