.Section {
  margin-bottom: 24rem;
}

.SectionTitle {
  margin-bottom: 12rem;
}

.Cursors {
  height: 240rem;
  display: flex;
  overflow: auto;
}

.Ledgers {
  height: 240rem;
  display: flex;
  overflow: auto;
}
