.LibraryBrowserPanel {
  min-width: 240rem;
  position: relative;
}

.ItemNameAndDescription {
  margin-top: 12rem;
}

.ItemName {}

.ItemCount {
  background-color: var(--surface-color);
  color: var(--accent-color-blue);
  padding: 0 6rem;
  border-radius: 6rem;
  margin-left: 6rem;
  font-size: 12rem;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  height: 20rem;
}

.ItemDescription {
  position: relative;
}

.RemoveDescriptionButton {
  position: absolute;
  top: 0;
  right: 8rem;

  opacity: 0;
}

.ItemDescription:hover .RemoveDescriptionButton {
  opacity: 1;
  transition: var(--transition-short);
}

.ReferenceIcon {
  width: 16rem;
  height: 16rem;
  margin-left: 6rem;
}

.ReferenceIcon:hover {
  cursor: pointer;
}

.ReferenceIcon svg {
  fill: var(--text-color);
}

.Buttons {
  position: absolute;
  display: inline-flex;
  right: -6rem;
  top: -5rem;
  transform: translate(100%, 0);
  background-color: #fff;
  z-index: 10;
  animation: fade-in 0.2s ease-in-out;
}

.PostItemType {
  position: relative;
  left: 4rem;
  top: 4rem;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
