.LibraryBrowserPanel {
  min-width: 240rem;
  position: relative;
}

.ItemName {

}

.Buttons {
  position: absolute;
  display: inline-flex;
  right: -12rem;
  top: -7rem;
  transform: translate(100%, 0);
  background-color: #fff;
  z-index: 10;
  animation: fade-in 0.2s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

