.Button {
  position: relative;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 14px;
  user-select: none;
  transition: var(--transition-short);
  border-bottom: 2rem solid rgba(0, 0, 0, 0.27);
}

.Button:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: var(--transition-short);
}

.Regular {
  background-color: #fff;
  color: var(--text-color);
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.27);
}

.Primary {
  background-color: var(--accent-color-blue);
  color: #fff;
}

.Danger {
  background-color: var(--accent-color-red);
  color: #fff;
}



