.Message {
  overflow: hidden;
  padding: 4rem 0;
  border-bottom: 1px solid #ddd;
}

.LeftSection {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.RightSection {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.Field {
  display: flex;
  flex: 1 1 100%;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  padding: 0 12rem;
}

.FieldName {
  white-space: nowrap;
  font-weight: bold;
  font-size: 13rem;
  width: 18ch;
  padding-right: 8rem;
}

.FieldValue {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline;
  max-width: 50ch;
  text-align: right;
}

.ClickableFieldValue:hover {
  cursor: pointer;
  opacity: 0.5;
}

.FieldValueLink:hover {
  text-decoration: underline;
}

.NoData {
  color: #aaa;
}

.Tooltip {
  max-width: 480rem;
}
