.Section {
  margin-bottom: 36rem;
}

.Title {
  font-size: 24rem;
  font-weight: bold;
  margin-bottom: 8rem;
}

.Dimension {
  margin-bottom: 36rem;
}

.Dimension:last-child {
  margin-bottom: 0;
}

.Dimensions {
  font-size: 14rem;
  margin-bottom: 12rem;
}

.Filters {
  margin-bottom: 24rem;
  max-width: 480rem;
}

.Highlight {
  background-color: var(--accent-color-yellow);
}

.Table {
  font-size: 14rem;
  border-spacing: 0;
  border-radius: 4rem;
  overflow: hidden;
  border: 1rem solid #ddd;
}

.Cell {
  padding: 4rem 12rem;
  border: 1rem solid #ddd;
  border-bottom: none;
  border-right: none;
}

.Table tr:first-child .Cell {
  border-top: none;
}

.Table tr:last-child .Cell {
  border-bottom: none;
}

.Table tr .Cell:first-child {
  border-left: none;
}

.Table tr .Cell:last-child {
  border-right: none;
}
